@import '../../../sass/variables';

.table-responsive{
   overflow:auto;
   height: 100vh;
}

.table{
    border-spacing: 0;
    border-collapse: collapse;
    width:100%;
    border-color: gray;
    
    &.table-striped tr:nth-child(even){
        background-color: #f2f2f2;
    }

    & thead th {
        position: sticky;
        top:0;
        z-index: 1;
    }
    & .table-dark{
        color:#fff;
        background: $primary-color; //#333;
    }
    
    & td, & th {
        padding: 16px;
        text-align: left;
    }

    &.table-sm td, &.table-sm th{
        font-size: 95%;
        padding: 8px
    }

    & tr{
        cursor:pointer;
    }
}