{% load static %}
<!doctype html>
<html lang="en">
<head>
    {% block head %}
    {% block css %} 
        <link rel = "stylesheet" href = "{% static 'css/bootstrap.min.js' %}"/>
    {% endblock css %}
    {% block js %}
        <script defer src = "{% static 'js/bootstrap.min.js' %}"></script>
        <script defer src = "{% static 'js/scripts.js' %}"></script>
    {% endblock js %}
    <title>{% block title %} - Smart Pharma{% endblock title %}</title>
    {% endblock head %}
</head>
    <body>
       <header></header>
       
    </body>
</html>
